appdirs==1.4.3
astroid==2.2.5
attrs==19.1.0
awacs==0.9.6
black==19.3b0
boto3==1.9.225
botocore==1.12.225
cfn-flip==1.2.1
Click==7.0
docutils==0.15.2
isort==4.3.21
jmespath==0.9.4
lazy-object-proxy==1.4.2
mccabe==0.6.1
pylint==2.3.1
python-dateutil==2.8.0
PyYAML==5.1.2
s3transfer==0.2.1
six==1.12.0
toml==0.10.0
troposphere==2.5.1
typed-ast==1.4.0
urllib3==1.25.3
wrapt==1.11.2
